div {
  max-width: 500px;
  margin: auto;
}

#card {
  border: 2px solid gray;
  border-radius: 0.4rem;
  margin: 1rem;
  text-align: left;
  padding: 0.5rem;
}

p {
  margin: 0;
}

hr {
  margin: 1rem;
}

button {
  margin: 0.3rem;
  padding: 0.2rem;
  border-radius: 0.4rem;
}
